h4{
    color: #AAADAF;
}
h2{
    color: #95989A;
}
p{
    color: black;
    font: 1em sans-serif;
}
body{
    background-color: white;
}
div.firstSection{
    color: white;
}
hr.splitLine1{
  background-color: grey;
}

p.my_comment{
    font: italic 20px Serif;
}
font{
	color:green;
    }
hr{
    width:100%;
    color:blue;
    size:5px;
}