h5{
    color: #AAADAF;
}

p{
    color: black;
    font: 1em sans-serif;
}
body{
    background-color: white;
}
div.firstSection{
    color: white;
}
hr.splitLine1{
  background-color: black;
}

p.my_comment{
    font: italic 20px Serif;
}


span{
 color: yellow;
}
footer{

margin-top: 100px;
column-count:2 ;
}
font{
	color:green;
    }
hr{
    width:300px;
    color:blue;
}
i{
    color: green;
}